{{#> main}}
	{{#*inline "main"}}

	{{#> ukSection heading="Internal Pages" size="large"}}
		{{#*inline "out"}}

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae optio vitae totam et sunt quis sint non quam, quidem nostrum quia vel ex voluptates deserunt eum esse voluptate consequuntur? Placeat?</p>

		{{/inline}}
	{{/ukSection}}

	{{#> ukSection heading="Latest News" size="large"}}
		{{#*inline "out"}}

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim labore ea sequi dolorem porro qui temporibus, est nobis inventore magni vero magnam iste facilis. Qui omnis ratione aliquam temporibus voluptates.</p>

		{{/inline}}
	{{/ukSection}}

	{{/inline}}
{{/main}}
