<section class="uk-section" id="{{#if id}}{{ida id}}{{else}}section-{{page.name}}{{/if}}">
	{{#> ukContainer size=(default size ukContainer) class=(default class "")}}
		{{#*inline "out"}}
		<h2>{{heading}}</h2>
		{{#> out id="" class="" heading="" size=""}}{{/out}}
		{{/inline}}
	{{/ukContainer}}
</section>
