// Prevents flicker while loading
.uk-navbar-nav[data-uk-nb-nav] {
	max-height: 80px;
	opacity: 0;

	@media (max-width: $breakpoint-small-max) {
		max-width: 40px;
	}
}

.nb-nav {

	.uk-parent {

		> a {
			position: relative;
		}
	}

	// Show nav after load
	.uk-navbar-nav {
		max-height: none;
		max-width: none;
		opacity: 1;
	}

	.uk-navbar-dropdown {
		margin-top: 0;
	}

	&-desktop {

		.uk-navbar-nav {

			> .uk-parent {

				> a {
					@include bg-icon('%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba(0,0,0,0.5)%22%20stroke-width%3D%221.03%22%20points%3D%2216%207%2010%2013%204%207%22%2F%3E%3C%2Fsvg%3E');
					background-position: 96% 52%;

					@include hover {
						@include bg-icon('%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba%280%2C0%2C0%2C0.75%29%22%20stroke-width%3D%221.03%22%20points%3D%224%2013%2010%207%2016%2013%22%2F%3E%3C%2Fsvg%3E');
					}
				}

				> .uk-navbar-dropdown {

					.uk-parent {

						> a {
							@include bg-icon('%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba(0,0,0,0.5)%22%20stroke-width%3D%221.03%22%20points%3D%227%204%2013%2010%207%2016%22%2F%3E%3C%2Fsvg%3E');
							background-position: 100% 50%;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}

	&-mobile {
		background-color: $white;
		border-top: 1px solid $off-white;
		height: calc(100% - 80px);
		left: 0;
		overflow: auto;
		position: fixed;
		top: 80px;
		width: 100%;
		z-index: 1001;

		.uk-navbar-nav {
			display: block;

			> li {
				padding: $global-small-gutter $global-small-gutter 0;

				&.uk-parent {
					@include bg-icon('%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba(0,0,0,0.5)%22%20stroke-width%3D%221.03%22%20points%3D%227%204%2013%2010%207%2016%22%2F%3E%3C%2Fsvg%3E');
					background-position: calc(100% - #{$global-small-gutter}) calc(50% + (#{$global-small-gutter / 2}));
				}
			}
		}

		.uk-navbar-item,
		.uk-navbar-nav > li > a,
		.uk-navbar-toggle {
			display: block;
			min-height: 0;
			padding: 0;
		}

		.uk-navbar-dropdown {
			box-shadow: none;
			height: 100%;
			left: 0 !important;
			padding: $global-small-gutter;
			top: 0 !important;
			width: 100%;

			.nb-nav-back {
				font-size: 0.9em;
				padding-left: 1em;
				@include bg-icon('%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba%280%2C0%2C0%2C0.75%29%22%20stroke-width%3D%221.03%22%20points%3D%2213%2016%207%2010%2013%204%22%2F%3E%3C%2Fsvg%3E');
				background-position: 0% 52%;
			}

			.nb-nav-title {
				font-size: 1.1em;
				font-weight: 700;
				margin-top: 1em;
			}
		}
	}
}
