<svg viewBox="0 0 512 512" class="uk-svg icon icon-{{name}}{{#if class}} {{class}}{{/if}}" role="img">
	<title>{{default title name}}</title>
	<use xlink:href="./symbol/icons.svg#{{name}}"></use>
</svg>
