<div class="banner uk-background-cover uk-position-relative uk-light" data-src="{{#if page.banner.src}}{{page.banner.src}}{{else}}{{aws}}/img/placeholder-castle-banner.jpg{{/if}}" data-uk-img>
	<div class="uk-overlay uk-position-bottom">
		{{#> ukContainer size=(default page.banner.size (default page.ukContainer ukContainer))}}
			{{#*inline "out"}}
			<h1>{{page.h1}}</h1>
			{{#if (neq page.name "home")}}{{> ukBreadcrumb}}{{/if}}
			{{/inline}}
		{{/ukContainer}}
	</div>
</div>
