<div class="slideshow">
	{{#> ukContainer size=(default size (default page.ukContainer ukContainer))}}
		{{#*inline "out"}}

		{{#if title}}
			<h3>{{title}}</h3>
		{{/if}}

		{{> ukSlideshow}}

		{{/inline}}
	{{/ukContainer}}
</div>
